extends layout

block carousel-masthead
	#masthead-text 
		|	You're looking for a web developer, right?<br>Welcome.
	#masthead-carousel

		.carousel-main

			.carousel-image-wrapper
				each p in pics
					if pics.indexOf(p) === 0
						img(src=`${p}` class="masthead-pic current")
					else
						img(src=`${p}` class="masthead-pic")

block content
	#home-content-wrapper
		if error
			.welcome-statement.alert-text
				| #{error}
		else if user && user.type === 'admin'
			.welcome-statement
				| Hello, #{user.name}
		#profile-area
			h1#profile-name Kellan Martin
			#profile-social-media
				include mixins/utils
				+social-media-wrap
			img(src="/images/profile_pic.jpg")
			p#additionalinfo
				|	Thank you very much for checking out my website! I can't tell you how
				|	much I appreciate it, so in order to show my appreciation
				|	I'll let you look at a pretty well designed website!
				|	<br><br>
				|	Really gets the message across, right? Well, hey, just to let you know
				|	I am a self taught programmer, and have been at honing my skill
				|	every day for about six months now. If you want to check out
				|	any of the projects I have been a part of, please  be sure and 
				|	head over to my "Projects" page. You can also head to my
				|	github (linked above), to visit any projects that I'm
				| 	currently working on as well!
			
		#quality-cont
			u
				h1 Expertise:
			#qualwrapper
				each key in Object.keys(model)
					- array = model[key]
					h3.qualheader #{key}
					ul
						each string in array
							li.qualitem #{string}

block append javascripts
	script(src="/javascripts/frontpage.js")
