//- Template for nav-bar shown on all pages
mixin froalaJS
	//- Froala & Plugins
	script(type="text/javascript" src="/froala/js/froala_editor.min.js")
	script(type="text/javascript" src="/froala/js/plugins/char_counter.min.js")
	script(type="text/javascript" src="/froala/js/plugins/emoticons.min.js")
	script(type="text/javascript" src="/froala/js/plugins/font_family.min.js")
	script(type="text/javascript" src="/froala/js/plugins/font_size.min.js")
	script(type="text/javascript" src="/froala/js/plugins/code_view.min.js")
	script(type="text/javascript" src="/froala/js/plugins/image.min.js")
	script(type="text/javascript" src="/froala/js/plugins/quick_insert.min.js")
	script(type="text/javascript" src="/froala/js/plugins/table.min.js")
	script(type="text/javascript" src="/froala/js/plugins/lists.min.js")
	script(type="text/javascript" src="/froala/js/plugins/entities.min.js")
	script(type="text/javascript" src="/froala/js/plugins/fullscreen.min.js")
	script(type="text/javascript" src="/froala/js/plugins/code_beautifier.min.js")
	script(type="text/javascript" src="/froala/js/plugins/paragraph_format.min.js")
	script(type="text/javascript" src="/froala/js/plugins/link.min.js")




mixin froalaCSS
	//- Froala CSS & Plugins CSS
	link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css")
	link(rel="stylesheet" type="text/css" href="/froala/css/froala_editor.min.css")
	link(rel="stylesheet" type="text/css" href="/froala/css/froala_style.min.css")
	link(rel="stylesheet" type="text/css" href="/froala/css/plugins/char_counter.min.css")
	link(rel="stylesheet" type="text/css" href="/froala/css/plugins/emoticons.min.css")
	link(rel="stylesheet" type="text/css" href="/froala/css/plugins/code_view.min.css")
	link(rel="stylesheet" type="text/css" href="/froala/css/plugins/image.min.css")
	link(rel="stylesheet" type="text/css" href="/froala/css/plugins/quick_insert.min.css")
	link(rel="stylesheet" type="text/css" href="/froala/css/plugins/table.min.css")
	link(rel="stylesheet" type="text/css" href="/froala/css/plugins/fullscreen.min.css")


mixin navBar(user, page = null)
	nav(id="main-nav")
		#mobile-nav-wrapper
			button(id="nav-button-mobile")
				.krabby-patty
				.krabby-patty
				.krabby-patty
		#nav-wrapper
			if (page === 'blog' || page === 'projects') && user
				ul#nav-list.closed.admin
					li.nav-item
						a(href="/") Home
					li.nav-item
						a(href="/projects") Projects
					li.nav-item
						a(href="/blog") Blog
					li.nav-item
						a(href="/contact") Contact
					if page === 'blog' &&  user && user.type === 'admin'
						li.nav-item
							a(href="/blog/newpost") Add New Post
					if page === 'projects' && user && user.type === 'admin'
						li.nav-item
							a(href="/projects/newproject") Add New Project
			else
				ul#nav-list.closed
					li.nav-item
						a(href="/") Home
					li.nav-item
						a(href="/projects") Projects
					li.nav-item
						a(href="/blog") Blog
					li.nav-item
						a(href="/contact") Contact


//- Template for a social media bar
mixin social-media-wrap(none)
	.soc-media-wrapper
		.soc-icon
			a(href="https://www.facebook.com/kellan.martin")
				img(src="/images/logos/fb_logo.png")
		.soc-icon
			a(href="https://www.instagram.com/spraynard_krueg")
				img(src="/images/logos/ig_logo_footer.png")
		.soc-icon
			a(href="https://github.com/Spraynard")
				img(src="/images/logos/octo_logo.png").resize
		.soc-icon
			a(href="https://www.linkedin.com/in/kellanmartin")
				img(src="/images/logos/li_logo.png").resize

//- Template for posts on the front `Blog` page
mixin post-temp(user, post)
	- var id = post.ID.toString()
	- var url_title = post.url_title
	- var headerPic = post.header_pic
	- var sub_title = post['sub_title']
	div(id=`post-${id}`).blog-post
		if headerPic
			.post-image-wrapper
				img(src=`./uploads/blog/${headerPic}`).post-header-pic
		.post-display
			if user
				.post-delete
					a(href=`/blog/delete/${id}`)
						button DELETE
			.front-title-wrapper
				a(href=`/blog/${id}/post/${url_title}`)
					h1.post-header !{post.title}
					if sub_title
						h3.sub-post-header !{post['sub_title']}
			.post-body !{post.body}
		.post-meta
			if post.tags !== null
				.post-tags Tags: #{post.tags}
			.post-date
				if !post.modified
					| Created on: #{post.created}
				else
					| Modified on: #{post.modified}

//- Template for singular blog posts!
mixin single-post-temp(post)
	- var id = post.ID.toString()
	- var headerPic = post.header_pic
	- var sub_title = post.sub_title
	div(id=`post-${id}`).blog-post
		if headerPic
			#single-post-pic-wrapper
				img(src=`/uploads/blog/${headerPic}`).single-post-header-pic
		#single-title-wrapper
			h1#single-post-header.front-end !{post.title}
			if sub_title
				h3#single-post-sub-header.front-end !{post['sub_title']}
		label#edit-title-label.edit Title
		input#single-post-header-edit.edit
		label#edit-sub-title-label.edit Sub-Title
		input#single-post-sub-header-edit.edit
		#single-post-body-wrap.front-end !{post.body}
		label#edit-body-label.edit Body
		textarea#single-post-body-edit.edit
		hr
		if post.tags !== null
			#post-tags.front-end
				| Tags: <span id="tags">#{post.tags}</span>
			label#post-tags-label.edit Post Tags
			input#post-tags-edit.edit
		#single-post-date
			if post.modified === null
				| Created on: #{post.created}
			else
				| Modified on: #{post.modified}

//- Template for comments on a single post
mixin comment-temp(comment)
	.background-wrapper
		.comment-entry(id=`comment-${comment.id}`)
			.comment-author #{comment.username}
			.comment-date #{comment.showDate}
			.comment-body #{comment.body}

//- Template for projects shown on the main project page
mixin project-temp(project)
	- var id = project.ID.toString()
	- var url_title = project.url_title
	- var pics = project.pics.split(',')[0]
	a(href=`/projects/${id}/project/${url_title}/`)
		div(id=`post-${id}`).project
			.project-img-wrap
				img(src=`./uploads/projects/${pics}`).project-pic
			.project-anim-wrap
			.project-title-wrap
				h3.project-header #{project.title}

//- Template for a single project item. Used when you click on a project icon in the projects page.
mixin single-project-temp(project)
	- var id = project.ID.toString()
	- var pics = project.pics.split(',')
	- var tech = project.tech.split(',')
	div(id=`post-${id}`).single-project
		if pics.length === 1
			#single-pic-wrapper
				each p in pics
					img(src=`/uploads/projects/${p}`).single-project-pic
		else
			#project-carousel
				.carousel-main
					.carousel-left
						img(src="/images/svgs/chevron-left.svg").chevron-select.select-left
					.carousel-image-wrapper
						each p in pics
							if pics.indexOf(p) === 0
								img(src=`/uploads/projects/${p}`).single-project-pic.current
							else
								img(src=`/uploads/projects/${p}`).single-project-pic
					.carousel-right
						img(src="/images/svgs/chevron-right.svg").chevron-select.select-right
		#project-data
			//- Taking out the title of project here because it is displayed in the header. May implement it back.
			//- h1#project-header.front-end #{project.title}
			input#header-edit.edit
			#project-date-wrapper
				.project-date
					.embellished
						|	Start:
					span.data#start-date.front-end
						|#{project['start_date']}
					input#start-date-edit.edit
				.project-date
					.embellished
						|	End:
					span.data#end-date.front-end
						|#{project['end_date']}
					input#end-date-edit.edit
			#techwrapper
				#techheader
					|	<u>Technologies Used</u>
				#qualwrapper
					#techs.front-end
						each t in tech
							.qualitem
								|#{t}
				input#tech-edit.edit
			if project.website !== ''
				#project-website-wrapper.front-end
					a(href=project.website)#website-link
						#project-website Site Link
			input#website-edit.edit
			#project-body-wrapper.front-end !{project.body}
			#body-edit.edit
				textarea(id="project-body-edit")

//- Template for blog posts shown on the footer
mixin footerPost(posts)
	if posts
		each post in posts
			- var id = post.ID.toString()
			- var url_title = post.url_title
			- var body = post.body;
			- var title = post.title;
			.fpwrap
				a(href=`/blog/${id}/post/${url_title}`)
					.footer-post-title
						| !{title}
				.footer-post-blurb !{body}


